# fly.toml app configuration file generated for ask on 2025-09-20T09:14:42-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ask'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = 512
  size = 'shared-cpu-1x'

[processes]
  app = ""
  restart = "on-failure"
